<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head',{ title: 'Home' ,stylesheets: 'home.css' }) %>

    <body>
        <%- include('./partials/header') %>
            <main>
                <div id="welcome-img">
                    <img src="/images/banner-inicio.png" alt="">
                </div>
                <h1>Nuestros productos</h1>
                <div class="main-products">
                    <h2>DESTACADOS</h2>

                    <% destacados.forEach(({id, name, image, price, discount,description})=> { %>

                        <div class="main-products">
                            <img src="/images/<%= image %>" alt="">
                            <h2>
                                <%= name %>
                            </h2>
                            <p>$<%=toThousand(price) %>
                            </p>
                            <p>"<%= description %>"</p>
                            <form action="">
                                <button><a href="/products/detail/<%= id %>">Ver mas</a></button>
                            </form>
                        </div>

                        <% }) %>

                            <h2>OFERTAS</h2>

                            <% inSale.forEach(({id, name, image, price, discount,description})=> { %>

                                <div class="main-products">
                                    <img src="/images/<%= image %>" alt="">
                                    <h2>
                                        <%= name %>
                                    </h2>
                                    <p>$<%=toThousand(price)%>
                                    </p>
                                    <p>"<%= description %>"</p>
                                    <form action="">
                                        <button><a href="/products/detail/<%= id %>">Ver mas</a></button>
                                    </form>
                                </div>

                                <% }) %>

                </div>
            </main>

            <%- include('./partials/footer') %>

    </body>

</html>