<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head',{title: 'Edicion de producto',stylesheets: 'productEdit.css'}) 
    %> 

<body>
    
    <%- include('./partials/header') %> 

    <main>
        <%- include('./partials/baner') %> 
        <div class="contenedor">
            <div class="main_titulo">
                <h5>Estás editando: <i><%= product.name %> </i></h5>
            </div>
            <div class="main_formulario">
                <form action="/products/update/<%= product.id %>?_method=PUT" method="post" >
                    <div class="main_formulario_nombre">
                        <label for="name">Nombre del producto</label></br>
                        <input type="text" name="name" placeholder="Nombre del producto" id="name" value="<%= product.name %>">
                        <p><%= locals.errors && errors.name ? errors.name.msg : null %></p>
                    </div>

                    <div class="main_formulario_categoria">
                        <label for="category">Categoría</label></br>
                      
                        <select name="categoryId" id="category">
                            <option value=""hidden selected>Elegi la categoría</option>
                               <% categories.forEach(({id, name}) => { %>
                                <option value="<%=id%>"<%= id === product.categoryId && 'selected' %>><%=name%></option>
                               <% }) %>
                        </select>
                        <p><%= locals.errors && errors.categoryId ? errors.categoryId.msg : null %></p>
                    </div>

                    <div class="main_formulario_precio">
                        <label for="price">Precio del producto</label></br>
                        <input type="number" id="price" name="price" placeholder="Precio del producto" value="<%= product.price %>">
                        <p><%= locals.errors && errors.price ? errors.price.msg : null %></p>
                    </div>

                    <div class="main_formulario_descuento">
                        <label for="discount">Descuento</label></br>
                        <input type="number"  id="discount" name="discount" placeholder="Descuento del producto" value="<%= product.discount%>">
                    </div>

                    <div class="main_formulario_descripcion">
                        <label for="description">Descripción</label></br>
                        <textarea id="description" name="description"><%= product.description %></textarea>
                        <p><%= locals.errors && errors.description ? errors.description.msg : null %></p>
                    </div>

                    <div class="main_formulario_buttons">
                        <div>
                            <button type="submit">Guardar</button>
                        </div>
                        <div>
                            <button type="reset">Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <%- include('./partials/footer') %> 

</body>

</html>