<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Detalle del Producto</title>
    <link rel="stylesheet" href="/stylesheets/productDetail.css">
    <link rel="stylesheet" href="/stylesheets/reutilizables.css">
    <script src="https://kit.fontawesome.com/0c10d8352a.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,500&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&family=Roboto:ital,wght@0,300;0,500;1,500&display=swap"
        rel="stylesheet">
</head>

<body>

    <header>


        <div class="header_principal">

            <div class="header_principal_logo">
               <a href="/"><img src="/images/logo.png" alt="sin imagen"></a>
            </div>

            <div class="header_principal_buscador">
                <form action="/search" method="get">
                    <input type="text" name="keywords" placeholder="Buscar..." />
                    <button type="submit"><span class="icon"><i class="fa fa-search"></i></span></button>
                </form>
            </div>

            <div class="header_principal_iconos">

                <div class="header_principal_burger_menu">
                    <button>
                        <i class="fas fa-bars"></i>
                    </button>
                </div>

                <div class="header_principal_sesion_carrito">

                    <ul type="none">
                        <div class="iconos">
                            <div>
                                <button>
                                    <i class="fa-solid fa-user"></i>
                                    <li><a href="/users/login">Iniciar sesion</a></li>
                                </button>
                            </div>
                            <div>
                                <button>
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <li><a href="/products/cart">Mi Carrito</a></li>
                                </button>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>

        </div>


    </header>



    <main>
        <div class="aviso">
            <img src="/images/Banner-inicio.png" alt="">
        </div>
        <div class="main_principal">
            
            <div class="contenedor_izquierdo">
                <div class="contenedor_izquierdo_foto">
                    <img class="obj-fit-cover" src="/images/<%= product.image %>" alt="SinImagen">
                </div>
                <div class="contenedor_izquierdo_fotos_2">
                    <div class="foto_1">
                        <img class="obj-fit-cover" src="/images/agala.jpeg" alt="SinImagen">
                    </div>
                    <div class="foto_3">
                        <img class="obj-fit-cover" src="/images/agala_foto3.jpg" alt="SinImagen">
                    </div>
                    <div class="foto_3">
                        <img class="obj-fit-cover" src="/images/agala_foto4.jpg" alt="SinImagen">
                    </div>
                </div>
            </div>
            <div class="contenedor_derecho">
                <div class="contenedor_derecho_superior">
                    <p class="nombre"><%= product.name %></p>

                    <% if (product.discount>0) { %>
                    <h3>$<%=toThousand(product.price)%></h3>
                    
                    <h3>
                        <%=product.discount%> % de descuento
                    </h3>
                    <% } else{%>
                        <p>
                            $<%=toThousand(product.price)%>
                        </p>
                     <% } %>


                </div>
                <div class="contenedor_derecho_inferior">
                   
                    <div class="contenedor_derecho_inferior_iconos_2">
                        <div>
                            <ul type="none">
                                <li><i class="fa-solid fa-hand-holding-dollar"></i> Pagás $<%=toThousand(product.price-(product.price * product.discount) / 100) %>
                                </li>
                                <li><i class="fa-solid fa-credit-card"></i> Aceptamos todas las tarjetas</li>
                                <li><i class="fa-solid fa-truck-fast"></i> Envios a todo el país</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="cotenedor_derecho_final">
                    <button href="/products/cart">Añadir al carrito</button>
                </div>

                <div class="editar-eliminar">
                    <div>
                        <button><a href="/products/edit/<%= product.id %>" class="">Editar</a></button>
                    </div>
                    <div>
                        <form action="/products/delete/<%= product.id %>?_method=DELETE" method="POST">
                            <button type="submit" class=" ">Eliminar</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>

    </main>



    <footer>
        <div class="footer_principal">
            <div>
                <nav>
                    <ul type="none" class="horarios">
                        <li>
                            <h6>Horarios de Atención</h6>
                        </li>
                        <li>
                            <p>Lunes a Viernes:</p>
                        </li>
                        <li>
                            <p>09:00 a 13:00</p>
                        </li>
                        <li>
                            <p>16:00 a 20:00</p>
                        </li>
                        <li>
                            <p>Sabados:</p>
                        </li>
                        <li>
                            <p>09:00 a 13:00</p>
                        </li>
                    </ul>
                </nav>
            </div>
            <div>
                <nav>
                    <ul type="none" class="contactos">
                        <li>
                            <h6> Contactos</h6>
                        </li>
                        <li>
                            <p> Telefono : 1234-5678</p>
                        </li>
                        <li>
                            <p> Whatsapp: +5491112345678</p>
                        </li>
                        <li>
                            <p> Correo: VinoYSeFue@grupo8gmail.com</p>
                        </li>
                        <li>
                            <p><i class="fa-solid fa-map-location-dot"></i> Av. Falsa 0123</p>
                        </li>
                    </ul>
                </nav>
            </div>
            <div>
                <nav>
                    <ul type="none" class="redes">
                        <li>
                            <h6>Siguenos</h6>
                        </li>
                        <li>
                            <p> <i class="fa-brands fa-twitter"></i> @VinoYSeFue</p>
                        </li>
                        <li>
                            <p> <i class="fa-brands fa-instagram"></i> @VinoYSeFue</p>
                        </li>
                        <li>
                            <p> <i class="fa-brands fa-facebook"></i> VinoYSeFue</p>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="advertencia">
            <p>BEBER CON MODERACION. PROHIBIDA SU VENTA A MENORES DE 18 AÑOS</p>
        </div>
        <div class="derechos_de_autor">
            <div class="derecho_1">
                <p> Powered by Grupo 8</p>
            </div>
            <div class="derecho_2">
                <p>© 2022 Vino y Se Fue. Todos los derechos reservados</p>
            </div>
        </div>

    </footer>

</body>

</html>