<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head',{stylesheets: 'styles.css'})%>

  <body class="detail">
    <%- include('./partials/header') %>

    <main class="detail__main mt-4">

      <article class="row">
      
        <div class="col-12 col-md-6 text-center">
            <img
              src="/images/<%= product.images[0].file%>"
              alt="<%= product.name%>"
              class="img-fluid"
            />
       
        </div>
        <div class="col-12 col-md-6">
          <div class="position-relative mt-3 d-flex flex-column justify-content-between h-100">
            <div>
            <h2 class="mb-0"><%= product.name %></h2>
            <div class="col-12 detail__main__btn--cart ">
              <a class="" href="/products/cart"><p class="m-0">AGREGAR AL CARRITO</p> </i></a>
            </div>
            <hr class="my-1">
          </div>
            <div>
            <% if (product.discount>0) { %>
             
                <h4 class="text-secondary text-end"><del>$ <%=toThousand(product.price)%></del> <small class="fs-6 "><%=product.discount%>% OFF</small></h4>

                
              
       
            <h3 ><small class="fs-4">Pagás</small>
              $<%=toThousand(product.price-(product.price *
              product.discount) / 100) %></h3>
            <% } else{%>
            <h3>$<%=toThousand(product.price)%></h3>
            <% } %>
          </div>
          </div>
            
          </div>
         
        </div>
        <div class="col-12 detail__main--descripcion mt-4">
            <h4>Descripción</h4>
            <p><%= product.description %> </p>
        </div>
      </div>
    </main>

    <%- include('./partials/footer') %>
    <%- include('./partials/scripts') %>
  </body>
</html>
