<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head',{title: 'Creacion de productos',stylesheets: 'productAdd.css'})%> 

<body>

    <%- include('./partials/header') %> 
    <main>
        <%- include('./partials/baner') %> 
        <div class="contenedor">
            <div class="main_titulo">
                <h5>Formulario de creación de productos</h5>
            </div>
            <div class="main_formulario">
                <form action="/products/store" method="POST" enctype="multipart/form-data">

                    <div class="main_formulario_nombre">
                        <label for="name">Nombre del producto</label></br>
                        <input type="text" id="name" name="name" placeholder="Nombre del producto" value="<%= locals.old && old.name ? old.name : null %>">
                        <p><%= locals.errors && errors.name ? errors.name.msg : null %></p>
                    </div>

                    <div class="main_formulario_categoria">
                        <label for="category">Categoría</label></br>
                        <select name="categoryId" id="category">
                            <option value=""hidden selected>Elegi la categoría</option>
                            <% categories.forEach(({id,name}) => { %>
                                <option value="<%= id %>"><%= name %></option>
                            <% }) %>
                        </select>
                        <p><%= locals.errors && errors.categoryId ? errors.categoryId.msg : null %></p>
                    </div>
                  
                    <div class="main_formulario_precio">
                        <label for="price">Precio del producto</label></br>
                        <input type="number" id="price" name="price" placeholder="Precio del producto" value="<%= locals.old && old.price ? old.price : null %>">
                        <p><%= locals.errors && errors.price ? errors.price.msg : null %></p>
                    </div>

                    <div class="main_formulario_descuento">
                        <label for="discount">Descuento</label></br>
                        <input type="number" id="discount" name="discount" placeholder="Descuento del producto" value="<%= locals.old && old.discount ? old.discount : 0 %>">
                        
                    </div>

                    <div class="main_formulario_descripcion">
                        <label for="description">Descripción</label></br>
                        <textarea name="description" id="description" ><%= locals.old && old.description ? old.description : null %></textarea>
                        <p><%= locals.errors && errors.description ? errors.description.msg : null %></p>
                    </div>

                    <div class="main_formulario_imagen">
                        <label for="image">Agregar imagen</label></br>
                        <input type="file" name="image"  id="image" accept="image/*" multiple>
                        <p><%= locals.errors && errors.image ? errors.image.msg : null %></p>
                    </div>

                    <div class="main_formulario_button"><button type="submit">CREAR</button></div>
                </form>
            </div>
        </div>
    </main>

    <%- include('./partials/footer') %> 
</body>

</html>