<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head',{stylesheets: 'productEdit.css'}) 
    %> 

<body>
    
    <%- include('./partials/header') %> 

    <main>
        <%- include('./partials/baner') %> 
        <div class="contenedor">
            <div class="main_titulo">
                <h5>Estás editando: <i><%= product.name %> </i></h5>
            </div>
            <div class="main_formulario">
                <form action="/products/update/<%= product.id %>?_method=PUT" method="post" enctype="multipart/form-data">
                    <div class="main_formulario_nombre">
                        <label for="name">Nombre del producto</label></br>
                        <input type="text" name="name" placeholder="Nombre del producto" id="name" value="<%= product.name %>">
                    </div>

                    <div class="main_formulario_categoria">
                        <label for="category">Categoría</label></br>
                        <input type="radio" name="category" id="category1" value="destacados" <%= product.category === 'destacados' && 'checked' %>>Destacados</br>

                         <input type="radio" name="category" id="category2" value="in-sale" <%= product.category === 'in-sale' && 'checked' %>> Ofertas</br>
                    </div>

                    <div class="main_formulario_precio">
                        <label for="price">Precio del producto</label></br>
                        <input type="number" id="price" name="price" placeholder="Precio del producto" value="<%= product.price %>">
                    </div>

                    <div class="main_formulario_descuento">
                        <label for="discount">Descuento</label></br>
                        <input type="number"  id="discount" name="discount" placeholder="Descuento del producto" value="<%= product.discount%>">
                    </div>

                    <div class="main_formulario_descripcion">
                        <label for="description">Descripción</label></br>
                        <textarea name="description" id="description" value="<%= product.description%>"></textarea>
                    </div>

                    <div class="main_formulario_imagen">
                        <label>Cambiar imagen</label></br>
                        <input type="file" name="image" id="image" accept=".jpg" multiple>
                    </div>

                    <div class="main_formulario_buttons">
                        <div>
                            <button type="submit">Guardar</button>
                        </div>
                        <div>
                            <button type="reset">Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <%- include('./partials/footer') %> 

</body>

</html>