<!DOCTYPE html>
<html lang="es">
    
    <%- include('./partials/head',{title: 'Registrate', stylesheets: 'register.css'})%> 

<body>

    <%- include('./partials/header') %> 

    <%- include('./partials/baner') %> 

        <div class="registroForm">


            <form action="" class="form" method="post" enctype="multipart/form-data" id="form-register">

                
              <h1 class="title">Regístrate</h1>
        
                    <div class="inputContainer"> 

                        <input type="text" class="form-control" id="firstname" name="firstname"
                        value="<%= locals.old && old.firstname ? old.firstname : null %>" placeholder="Nombre">
                       
                    </div>
                    <p class="form__error__msg">
                        <%= locals.errors && errors.firstname ? errors.firstname.msg : null %>
                    </p>
                    <p id="msgFirstname"></p>

                    <div class="inputContainer">
                        <input type="text" class="form-control"  id="lastname" name="lastname" autocomplete="off"
                        value="<%= locals.old && old.lastname ? old.lastname : null %>" placeholder="Apellido">
                       
                    </div>
                    <p class="form__error__msg">
                        <%= locals.errors && errors.lastname ? errors.lastname.msg : null %>
                    </p>
                    <p id="msgLastname"></p>

                    <div class="inputContainer">
                        <input type="email" class="form-control" id="email" name="email" autocomplete="off"
                        value="<%=locals.old && old.email ? old.email : null %>" placeholder="Email">
                       
                    </div>
                    <p class="form__error__msg">
                        <%= locals.errors && errors.email ? errors.email.msg : null %>
                    </p>
                    <p id="msgEmail"></p>

                    <div class="inputContainer">
                        <input type="password" class="form-control" id="password" name="password" autocomplete="off" placeholder="Contraseña">
                        
                    </div>
                    <p class="form__error__msg">
                        <%= locals.errors && errors.password ? errors.password.msg : null%>
                    </p>
                    <p id="msgPassword"></p>
        
                    <div class="inputContainer">
                        <input type="password" class="form-control" id="password2" name="password2" autocomplete="off" placeholder="Confirmá tu contraseña">
                    
                    </div>
                    <p class="form__error__msg">
                        <%= locals.errors && errors.password2 ? errors.password2.msg : null%>
                    </p>
                    <p id="msgPassword2"></p>

                    <div class="inputContainer">
                        <label for="avatar" id="btn-register">Imagen de perfil</label>
                        <input hidden type="file" name="avatar" id="avatar" class="form-control">
                        <p id="msgAvatar"></p>
                    </div>

                    <div class="inputContainer" >
                        <button type="submit" id="btn-submit" disabled>Registrarse</button>
                        <a href ='/users/login'>¿Ya tiene una cuenta?</a>
                    </div>

                </form>

          </div>

    <%- include('./partials/footer') %> 

    <%- include('./partials/scripts') %> 

    <script src="/js/registroValidacion.js"> </script>   