<!DOCTYPE html>
<html lang="es">
    
    <%- include('./partials/head',{title: 'Registrate', stylesheets: 'styles.css'})%> 

<body class="register">

    <%- include('./partials/header') %> 
    <main class="register__main mt-4">

            <form action="" class="form" method="post" enctype="multipart/form-data" id="form-register">

                
              <h1 class="title">Regístrate</h1>
                <hr>
                    <div class="mb-3"> 

                        <input type="text" class="form-control" id="firstname" name="firstname"
                        value="<%= locals.old && old.firstname ? old.firstname : null %>" placeholder="Nombre">
                       
                    </div>
                    <p class="text-danger">
                        <%= locals.errors && errors.firstname ? errors.firstname.msg : null %>
                    </p>
                    <p class="text-danger" id="msgFirstname"></p>

                    <div class="mb-3">
                        <input type="text" class="form-control"  id="lastname" name="lastname" autocomplete="off"
                        value="<%= locals.old && old.lastname ? old.lastname : null %>" placeholder="Apellido">
                       
                    </div>
                    <p class="text-danger">
                        <%= locals.errors && errors.lastname ? errors.lastname.msg : null %>
                    </p>
                    <p class="text-danger" id="msgLastname"></p>

                    <div class="mb-3">
                        <input type="email" class="form-control" id="email" name="email" autocomplete="off"
                        value="<%=locals.old && old.email ? old.email : null %>" placeholder="Email">
                       
                    </div>
                    <p class="text-danger">
                        <%= locals.errors && errors.email ? errors.email.msg : null %>
                    </p>
                    <p class="text-danger" id="msgEmail"></p>

                    <div class="mb-3">
                        <input type="password" class="form-control" id="password" name="password" autocomplete="off" placeholder="Contraseña">
                        
                    </div>
                    <p class="text-danger">
                        <%= locals.errors && errors.password ? errors.password.msg : null%>
                    </p>
                    <p class="text-danger" id="msgPassword"></p>
        
                    <div class="mb-3">
                        <input type="password" class="form-control" id="password2" name="password2" autocomplete="off" placeholder="Confirmá tu contraseña">
                    
                    </div>
                    <p class="text-danger">
                        <%= locals.errors && errors.password2 ? errors.password2.msg : null%>
                    </p>
                    <p class="text-danger" id="msgPassword2"></p>

                    <div class="mb-3 text-end" >
                        <button type="submit" class="btn btn-dark" id="btn-submit" disabled>Registrarse</button>

                    </div>
                    <div class="text-center">
                        <p class="">¿Ya tienes cuenta? <a class="" href="/users/login">Inicia sesión</a></p>
                    </div>

                </form>

            </main>

    <%- include('./partials/footer') %> 

    <%- include('./partials/scripts') %> 

    <script src="/js/registroValidacion.js"> </script>   